* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

/*Navbar*/

#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  z-index: 200;
  /*  border-bottom: 1px solid rgba(163, 158, 158, 0.5); */
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo {
  float: left;
  margin-right: 50px;
  font-size: 1.6rem;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .logo {
    /*       margin-left: 5px; */
  }
}

#navbar ul {
  float: left;
  list-style: none;
  margin-left: 40px;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}
@media (orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

.clickout {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}

.navlink {
  transition: 0.3s;
  margin-right: 20px;
  cursor: pointer;
}

/* Mobile Menu  */

@media (max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
  }

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
  }
}

/* Toggle Menu Icon */

.menuIcon.toggle .icon-bars::before {
  top: 0;
  transition-delay: 0.1s;
  opacity: 0;
}

.menuIcon.toggle .icon-bars::after {
  top: 10px;
  transform: translate3d(0, -10px, 0) rotate(-270deg);
  transition-delay: 0.1s;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars.overlay {
  width: 20px;
  opacity: 0;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

/*mobile*/
.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.fa-icons {
  display: flex;
  float: right;
  position: relative;
  right: 30px;
  top: 5px;
}

.searchitems {
  display: inline;
  margin: 15px;
  bottom: 10px;
}

.womens-dropdown-enter,
.womens-dropdown-appear {
  transition: all 600ms;
}

.womens-dropdown-enter-active,
.womens-dropdown-appear-active {
  transition: all 600ms;
}

.womens-dropdown-exit {
  transition: all 600ms;
}

.womens-dropdown-exit-active {
  transition: all 600ms;
}

.womens-dropdown {
  position: absolute;
  width: 120px;
  height: 220px;
  top: 60px;
  left: -30px;
  text-align: center;
  font-size: 13px;
}

.womens-dropdown-content {
  position: relative;
  background-color: white;
  border: 1px solid white;
  width: 100%;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}

.womens-dropdown-content p {
  color: black;
  padding: 9px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}

.womens-dropdown-content p:hover {
  background-color: #ddd;
}

.womens-dropdown:hover .dropdown-content {
  display: block;
}

.mens-dropdown-enter,
.mens-dropdown-appear {
  transition: all 600ms;
}

.mens-dropdown-enter-active,
.mens-dropdown-appear-active {
  transition: all 600ms;
}

.mens-dropdown-exit {
  transition: all 600ms;
}

.mens-dropdown-exit-active {
  transition: all 600ms;
}

.mens-dropdown {
  position: absolute;
  width: 120px;
  height: 220px;
  top: 60px;
  margin-left: -20px;
  text-align: center;
}

.mens-dropdown-content {
  position: relative;
  background-color: white;
  border: 1px solid white;
  width: 100%;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}

.mens-dropdown-content p {
  color: black;
  padding: 9px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.mens-dropdown-content p:hover {
  background-color: #ddd;
}

.mens-dropdown:hover .dropdown-content {
  display: block;
}
.searchbar {
  margin-top: 5px;
  width: 135px;
  outline: none;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

.searchcontainer {
  display: flex;
  background: rgb(243, 246, 243);
  flex: 1;
  width: 100%;
  overflow: auto;
  position: fixed;
  margin-top: 60px;
  margin-left: 5px;
  margin-bottom: 0;
  justify-content: space-between;
  z-index: 100;
}
.filtered-search {
  min-height: min-content;
  display: flex;
}
.filtered-search li {
  padding: 5px;
}
.search-imgs {
  height: 160px;
  width: 110px;
}
